<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_stec"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mantissa"
        tools:targetApi="31">
        <activity
            android:name=".student.Show.FullViewActivity"
            android:exported="false" />
        <activity
            android:name=".student.Show.StudentNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".student.Show.EventStudentActivity"
            android:exported="false" />
        <activity
            android:name=".authority.Delete.DeleteNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".authority.notice.UploadNotice"
            android:exported="false" />
        <activity
            android:name=".authority.control.EventActivity"
            android:exported="false" />
        <activity
            android:name=".authority.control.UploadImageSiderActivity"
            android:exported="false" />
        <activity
            android:name=".authority.control.AdimnSliderActivity"
            android:exported="false" />
        <activity
            android:name=".student.StudentDashBordMainActivity"
            android:exported="false" />
        <activity
            android:name=".student.StdudentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.DashbordTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".authority.AuthorityActivity"
            android:exported="false" />
        <activity
            android:name=".student.Show.StudentShowVedioLectureMainActivity"
            android:exported="false" />
        <activity
            android:name=".student.Show.StudentShowEbookMainActivity"
            android:exported="false" />
        <activity
            android:name=".student.Show.StudentShowClassNoteMainActivity"
            android:exported="false" />
        <activity
            android:name=".student.Show.StudentShowAssignmentMainActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.dash.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.dash.ShowEbookActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.dash.ShowClassNoteActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.dash.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.dash.ClassVedioActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.dash.AssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.dash.EbookActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.dash.ClassNoteActivity"
            android:exported="false" />
        <activity
            android:name=".authority.control.ShowStudentActivity"
            android:exported="false" />
        <activity
            android:name=".authority.auth.TeacherRegistarActivity"
            android:exported="false" />
        <activity
            android:name=".authority.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.TeacherRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ComonLoginActivity"


            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>